{% extends 'base.html.twig' %}
{% block body %}
    <!-- Page Content -->


    <div class="row">

        <div class="col-lg-3">

            {% include '@App/Default/moduleUsed/category.html.twig' %}

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <br><br><br>
            <div class="row">
                {%  for product in produits %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="{{ path('aff_product_category',{'id':product.id })}}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{{ path('aff_product_category',{'id':product.id })}}">Item {{ product.name}}</a>
                                </h4>
                                <h5>{{ product.price }} DNT</h5>
                                <p class="card-text">{{ product.description }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>

                               <a href="{{ path('add_product_panier',{'id':product.id })}}"> <button>Add panier</button></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- /.row -->
            {{ knp_pagination_render(produits) }}
        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->


    <!-- /.container -->
{% endblock %}


